= stylesheet_link_tag 'java_submission_tester/help'
= javascript_include_tag 'java_submission_tester/image-zoom'

= content_for :title
  | Hilfe - Wie erstelle ich eine Jar-Datei - IntelliJ

h1.text-center
  | Wie erstelle ich eine Jar-Datei in IntelliJ?
ol
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/start.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        | Öffne das IntelliJ Projekt, für das eine Jar-Datei erstellt werden soll.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/file-menu.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Öffne das Menü
        em File > Project Structure
        | .

  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/project-structure-artifacts.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Navigiere zu dem Menü
        em> Artifacts
        | auf der linken Seite.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/project-structure-artifacts-add.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Öffne über das grüne + das Auswahl Menü für die Artifacts.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/artifacts-jar.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Wähle die Option
        em Jar > from module with dependencies
        |.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/add-artifact-dialog.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        | Bestätige das Erstellen des Artefaktes mit Standardeinstellungen.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/add-jar-content.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        | Öffne über das grüne + das Menü um zusätzliche Inhalte in die Jar-Datei zu packen.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/add-jar-content-dir.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Wähle die Option
        em Directory Content
        |.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/add-jar-content-dir-src.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Wähle in dem Pop-up, das sich geöffnet hat den Ordner aus, der die Java-Dateien enthält. Dies ist standardmäßig
          der Ordner
        em src
        ' . Wähle
        strong> NICHT
        ' den Ordner, der das Projekt enthält, sonst werden viele unnötige Dateien in die Jar-Datei gepackt. Danach
          bestätige die Auswahl und schließe das Pop-up.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/menu-build-artifacts.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Um die Jar-Datei zu bauen, navigiere zu
        em Build > Build Artifacts...
        | .
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/artifact-build.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' In dem Pop-up das sich geöffnet hat die Aktion
        em> Build
        ' auswählen.
  .row.space
    .col-sm-12.col-md-6
      = image_tag 'java_submission_tester/finish.png', class: 'zoomable'
    .col-sm-12.col-md-6
      li
        ' Herzlichen Glückwunsch. Die fertige Jar-Datei wird in dem Ordner
        em> out/artifacts/...
        ' abgelegt.


