= stylesheet_link_tag 'java_submission_tester/help'

= content_for :title
  | Java Tester Hilfe

.row
  h1
    | Hilfe

.row
  h2
    | Wie erstelle ich eine Jar?
  .col-sm-12
    = link_to pages_path(:how_to_jar), class: 'large'
      => image_tag 'java_submission_tester/IntelliJ_IDEA_Logo.svg'
      | IntelliJ


