h1
  | Hilfe

h3
  | Allgemein

p
  ' IO-Aufgaben generieren für jede Person eine individuelle Eingabe, mit der eine Aufgabe gelöst werden soll.
  ' Das Ergebnis einer Aufgabe ist wieder ein Text, der von Dozentron automatisch bewertet wird.
  ' Zusätzlich zu dem Ergebnistext kann auch der Quellcode des Programms abgegeben werden, dass die Aufgabe gelöst hat.
  ' Dieses Programm wird von Dozentron
  strong> NICHT
  ' ausgeführt. Die Abgabe des Quellcodes ist nur für den Dozenten und die Tutoren, damit Sie sich ihre Ergebnisse noch
  ' einmal ansehen und von Hand bewerten können.