h1
  | Beispiel für einen Test für IO-Task mit Junit4

pre
  |
    package de.thm.mni;

    import org.junit.Assert;
    import org.junit.Before;
    import org.junit.Test;

    import java.io.IOException;
    import java.nio.file.Files;
    import java.nio.file.Paths;

    public class InputOutputTest {
        private String systemInput;
        private String studentOutput;

        @Before
        public void loadFiles() {
            systemInput = System.getProperty("input");
            studentOutput = System.getProperty("student-output");
        }

        @Test
        public void correctNumber() throws IOException {
            String input = new String(Files.readAllBytes(Paths.get(systemInput)));
            int expectedOutput = input.trim().length();
            int gotOutput;

            gotOutput = Integer.parseInt(new String(Files.readAllBytes(Paths.get(studentOutput))).trim());

            if(expectedOutput > gotOutput)
                Assert.fail("Die gesuchte Zahl ist größer!");
            else if(expectedOutput < gotOutput)
                Assert.fail("Die gesuchte Zahl ist kleiner!");

        }

        @Test
        public void assertFilesSet() {
            Assert.assertNotNull(systemInput);
            Assert.assertNotNull(studentOutput);
        }
    }