img.zoomable {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

img.zoomable:not(.large) {
    width: 100%;
    height: auto;
}

li {
    font-size: large;
}

.row.space {
    margin-bottom: 10px;
}

.large {
    font-size: 64px;
}